<!DOCTYPE HTML>
<html>
<head>
    <title>Uno Club - Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            font-weight: 600;
            font-family: Inter, sans-serif;
        }

        main {
            flex: 1 0 auto;
            align-items: center;
        }
    </style>
</head>
<body class="grey lighten-5 grey-text text-darken-4" style="align-content: center">
<main style="display: flex">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <noscript>
                    <h6>Uno Club will not function at all without Javascript. Don't worry, all of our JS is libre.</h6>
                </noscript>
                <h1>Welcome back!</h1>
                <h3>Thanks for using Uno Club.</h3>
                <a class="waves-effect waves-light btn-large" onclick="history.back()"><i class="material-icons left">arrow_back</i>
                    Back</a>
            </div>
            <div class="col s12 m6 l6">
                <div id="notLoggedIn">
                    <h3>Enjoy more Uno.</h3>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="username" type="text" class="validate"
                                   style="font-family: Inter, sans-serif !important;">
                            <label for="username">Username</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <a class="waves-effect waves-light btn-large" onclick="login()"><i class="material-icons left">login</i>
                        Login</a>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/gh/dchest/tweetnacl-js@71df1d6a1d78236ca3e9f6c788786e21f5a651a6/nacl-fast.min.js"
        crossorigin="anonymous"
        integrity="sha384-05+sicyRJQ56XpL4U9HJ8YbtSzFDvAg7apPKOGV6A0JsAJKFM68jp5oLnUjG5mEp"></script>
<script src="https://cdn.jsdelivr.net/gh/dchest/tweetnacl-util-js@2765406d20ce3f3f402a39a3533a0e2e1e15483c/nacl-util.min.js"
        crossorigin="anonymous"
        integrity="sha384-qpU3wxGxaAPcz02pOLeZTv5B0rNzsh3CETsUqdHxRBP70bO0kHoBopr+f9AcGj04"></script>
<script src="https://cdn.jsdelivr.net/gh/ricmoo/scrypt-js@master/scrypt.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    // check if storage works
    function storageAvailable(type) {
        let storage = null;
        try {
            storage = window[type];
            let x = '__storage_test__';
            storage.setItem(x, x);
            storage.removeItem(x);
            return true;
        } catch (e) {
            return e instanceof DOMException && (
                    e.code === 22 ||
                    e.code === 1014 ||
                    e.name === 'QuotaExceededError' ||
                    e.name === 'NS_ERROR_DOM_QUOTA_REACHED') &&
                (storage && storage.length !== 0);
        }
    }

    // if our storage is unavailable, prompt the user
    if (!storageAvailable("localStorage")) alert("Your browser is incompatible with Uno Club. This is most likely because your browser does not support localStorage.");

    // if we're logged in, go to /
    if (localStorage.getItem("loginInfo")) window.location.replace("/");

    // hex functions
    const toHexString = bytes =>
        bytes.reduce((str, byte) => str + byte.toString(16).padStart(2, "0"), "");

    // state
    let loggingIn = false;

    // login function
    async function login() {
        // prevent users from trying to log in multiple times
        if (loggingIn) {
            M.toast({html: "Be patient. It may take a few seconds to log in."});
        }
        // set the state
        loggingIn = true;
        // verify the username
        let usernameRegex = /^[a-zA-Z0-9]{1,24}$/;
        let username = $("#username").val();
        if (!usernameRegex.test(username)) {
            M.toast({html: "Usernames are alphanumeric and 24 characters at most."});
            loggingIn = false;
            return;
        }
        // fetch the user record for us
        let json = await fetch(`/userInfo/${username}`).then(res => res.json());
        // return if it errors
        if (json.status === "error") {
            M.toast({html: json.error});
            loggingIn = false;
            return;
        }
        // notify the user they're being logged in
        M.toast({html: "You are now being logged in. This may take a while."});
        // convert the password to a salt
        let password = $("#password").val();
        password = await scrypt.scrypt(nacl.util.decodeUTF8(password), nacl.util.decodeUTF8(username), 16384, 16, 1, 32);
        let key = nacl.sign.keyPair.fromSeed(password);
        // return if our key doesn't match
        if (toHexString(key.publicKey) !== json.data.signingPublicKey) {
            M.toast({html: "The entered password is incorrect."});
            loggingIn = false;
            return;
        }
        localStorage.setItem("loginInfo", `${username}-${nacl.util.encodeBase64(key.secretKey)}`);
        window.location.replace("/");
    }
</script>
</body>
</html>